* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-y: auto; 
  background: #0f0f0f;
}


canvas {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1; 
}

/* NAVBAR */
nav {
  background-color: #1a1a1a; 
  padding: 25px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.5);
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #66C1FF; 
  transform: scale(1.05);
}

/* CONTAINER CENTRALE */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px);
  text-align: center;
  padding: 20px;
}

.container img{
  width: auto;
  height: 390px;
  margin: 50px;
  border-radius: 30px;
  border:  10px solid #0077CC;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);

}
h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #ffffff;

}

h2{
  color: #ffffff;
  line-height: 1.4;
  margin-bottom: 1rem;
  border-bottom: solid 1px #0077CC;
}


p {
  font-size: 18px;
  max-width: 700px;
  margin-bottom: 40px;
  line-height: 1.8;
  color: #ffffff;
  text-align: left;
}

/* PULSANTI */
.buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons a {
  text-decoration: none;
  padding: 15px 35px;
  background-color: #0077CC;
  color: #ffffff;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.5);
  transition: all 0.3s ease;
}

.buttons a:hover {
  background-color: #66C1FF;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.6);
}

/*---------------------------
-----------CONTAINER-------*/


/* CONTAINER CENTRALE */
.container-dev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}

/* CONTAINER BLUR PER SKILLS */
.container-blur {
  display: flex;
  flex-direction: column; /* contenuto verticale: titolo + loghi */
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 15px;
  border: 2px solid #ffffff;
  margin-top: 50px;
  width: 50%;
  box-sizing: border-box;
  align-items: center; /* centra orizzontalmente gli elementi al suo interno */
  justify-content: center

  
}

.container-blur h2{
    text-align: center;
    margin-block: 20px;
    color: #ffffff;
}



.skills-container {
  display: flex;
  flex-wrap: wrap;         /* va a capo se non entra tutto */
  justify-content: center; /* centra i loghi */
  gap: 30px;               /* spazio tra i loghi */
}


.skills-container img {
  width: 90px;
  height: auto;
  transition: transform 0.3s ease;
}

.skills-container img:hover {
  transform: scale(1.2);
}

.section-links {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.section-link {
  display: flex;     
  justify-content: space-evenly;   
  align-items: center;        /* icona e testo allineati */
  gap: 10px;                  /* spazio tra icona e testo */
  text-decoration: none;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 2rem;
  color: #0f0f0f;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background 0.3s, color 0.3s;
}

.section-link:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #66c1ff;
}

.section-link img {
  width: 50px;
  height: auto;
}

/* PROGETTI */

.progetti {
  display: flex;
  gap: 20px;
  margin: 30px;
}

.progetti-text {
  display: flex;
  flex-direction: column; 
  gap: 10px;              
}
 .progetti img{
  max-width: 450px;
  height: fit-content;
  border-radius: 20px;
  border: #ffffff solid 2px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
 }

 .progetti p {
  max-height: 250px; 
  overflow: auto;     /
}



.progetti-btn {
  display: flex;     
  align-items: center;       
  gap: 10px;                  
  text-decoration: none;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 2rem;
  color: #0f0f0f;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background 0.3s, color 0.3s;
}

.progetti-btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #66c1ff;
}

.progetti-btn img {
  width: 50px;
  height: 50px;
  border-radius: 0;
}