* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-y: auto;
  background: #0f0f0f;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

/* NAVBAR */
nav {
  background-color: #1a1a1a;
  padding: 25px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.5);
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #66C1FF;
  transform: scale(1.05);
}

/* CONTAINER CENTRALE */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px);
  text-align: center;
  padding: 20px;
}

.container img {
  width: auto;
  height: 390px;
  margin: 50px;
  border-radius: 30px;
  border: 10px solid #0077CC;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #ffffff;
}

h2 {
  color: #ffffff;
  line-height: 1.4;
  margin-bottom: 1rem;
  border-bottom: solid 1px #0077CC;
}

p {
  font-size: 18px;
  max-width: 700px;
  margin-bottom: 40px;
  line-height: 1.8;
  color: #ffffff;
  text-align: left;
}

/* BUTTONS */
.buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons a {
  text-decoration: none;
  padding: 15px 35px;
  background-color: #0077CC;
  color: #ffffff;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.5);
  transition: all 0.3s ease;
}

.buttons a:hover {
  background-color: #66C1FF;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.6);
}

/* CONTAINER DEV */
.container-dev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}

/* BOX BLUR */
.container-blur {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 15px;
  border: 2px solid #ffffff;
  margin-top: 50px;
  width: 50%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.container-blur h2 {
  text-align: center;
  margin-block: 20px;
  color: #ffffff;
}

/* SKILLS */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.skills-container img {
  width: 90px;
  height: auto;
  transition: transform 0.3s ease;
}

.skills-container img:hover {
  transform: scale(1.2);
}

/* LINK SECTION */
.section-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.section-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 2rem;
  color: #0f0f0f;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background 0.3s, color 0.3s;
}

.section-link:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #66c1ff;
}

.section-link img {
  width: 50px;
  height: auto;
}

/* PROGETTI */
.progetti {
  display: flex;
  gap: 20px;
  margin: 30px;
}

.progetti-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.progetti img {
  max-width: 450px;
  height: fit-content;
  border-radius: 20px;
  border: #ffffff solid 2px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}


.progetti p {
  --sb-track-color: #404142;
  --sb-thumb-color: #62b5b4;
  --sb-size: 10px;

  max-height: 250px;
  overflow: auto;
}

/* Chrome, Edge, Safari */
.progetti p::-webkit-scrollbar {
  width: var(--sb-size);
}

.progetti p::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

.progetti p::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}

/* Firefox */
@supports not selector(::-webkit-scrollbar) {
  .progetti p {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

#scrollable-bmw {
  --sb-track-color: #404142;
  --sb-thumb-color: #62b5b4;
  --sb-size: 10px;

  flex-shrink: 0;
  width: 450px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;

  border-radius: 20px;
  border: #ffffff solid 2px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

/* Chrome, Edge, Safari */
#scrollable-bmw::-webkit-scrollbar {
  width: var(--sb-size);
}

#scrollable-bmw::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

#scrollable-bmw::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

/* Firefox */
@supports not selector(::-webkit-scrollbar) {
  #scrollable-bmw {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* Immagine interna */
#scrollable-bmw img {
  width: 450px;
  max-width: none;
  height: auto;
}


/* BUTTON PROGETTI */
.progetti-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 2rem;
  color: #0f0f0f;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background 0.3s, color 0.3s;
}

.progetti-btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #66c1ff;
}

.progetti-btn img {
  width: 50px;
  height: 50px;
  border-radius: 0;
}




/* RESPONSIVE 480px */
@media (max-width: 480px) {

  body {
    overflow-x: hidden;
  }

  nav {
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 10px;
    width: 100%;
    position: sticky;
    top: 0;
    background: rgba(26, 26, 26, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
  }

  nav a {
    font-size: 1rem;
    margin: 0 5px;
  }

  .container,
  .container-dev,
  .container-blur {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: rgba(26, 26, 26, 0.8);
  }

  .progetti img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 15px;
  }

  .container img {
    width: 80%;
    max-width: 350px;
    height: auto;
    margin: 20px auto;
    border-radius: 20px;
    border: 5px solid #0077CC;
  }

  .container-blur {
    width: 100%;
    margin-top: 0;
    border-radius: 0;
    border: none;
    background: rgba(255,255,255,0.05);
    padding: 20px;
  }

  h1 {
    font-size: 28px;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }

  p {
    font-size: 16px;
    line-height: 1.6;
    max-width: 100%;
    text-align: justify;
  }

  .buttons {
    flex-direction: column;
    gap: 15px;
  }

  .buttons a {
    font-size: 1.2rem;
    padding: 12px 20px;
  }

  .progetti {
    flex-direction: column;
    gap: 15px;
    margin: 20px 0;
  }

  .progetti-text {
    flex-direction: column;
    gap: 10px;
  }

  .progetti p {
    max-height: none;
  }

  .progetti-btn {
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 8px;
  }

  .progetti-btn img {
    width: 30px;
  }

  .skills-container img {
    width: 70px;
  }

  .section-link {
    font-size: 1.4rem;
    padding: 10px;
  }

  .section-link img {
    width: 30px;
  }

  #scrollable-bmw {
    width: 100%;
    height: 250px;
  }

  #scrollable-bmw img {
    width: 100%;
    max-width: 100%;
  }
}
